!!!
%html{:lang => "pt-br"}
	%head
		%meta{:charset => "UTF-8"}/
		%title Imóvel RJ
		/ %meta{:name => "viewport", :content => "width=device-width"}/
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
		%link{:rel => "stylesheet", :href => "css/screen.css", :media => "screen, projection"}/
	%body.home
		.cols
			.wrap
				- 12.times do |n|
					.col
		= Haml::Engine.new(File.read(File.dirname(__FILE__) + "/_header.haml")).render
		%hr/
		%main.main{:role => "main"}
			.main-primary
				.wrap
					- 2.times do |n|
						%section.main-feature
							%a{:href => "#"}
								%h2.feat-title Lançamentos
								%img.feat-image{:src => "http://dummyimage.com/460x346", :alt => ""}/
							%p<
								%strong Aqui você encontrará os melhores lançamentos em imóveis.
								%br>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies.
			%hr/
			.main-secondary
				.wrap
					.blog-features
						.blog-primary
							%a{:href => "#"}
								%h3.blog-title Blog Planta Baixa
								%img{:src => "http://dummyimage.com/300x226", :alt => ""}/
						.blog-secondary
							%a{:href => "#"}
								%img{:src => "http://dummyimage.com/80x80", :alt => ""}/
								%h3.blog-title As melhores dicas de quem possui experiência em mais de 200 imóveis negociados
					%ul.blog-posts
						%li.blog-post<
							%a{:href => "#"} Contrary to popular belief, Lorem Ipsum is not simply random text.
						%li.blog-post<
							%a{:href => "#"} It has roots in a piece of classical Latin literature from 45 BC.
						%li.blog-post<
							%a{:href => "#"} Making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
						%li.blog-post<
							%a{:href => "#"} Looked up one of the more obscure Latin words.
					%ul.blog-posts
						%li.blog-post<
							%a{:href => "#"} There are many variations of passages of Lorem Ipsum available.
						%li.blog-post<
							%a{:href => "#"} But the majority have suffered alteration in some form, by injected humour, or randomised words which.
						%li.blog-post<
							%a{:href => "#"} Don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
						%li.blog-post<
							%a{:href => "#"} You need to be sure there isn't anything embarrassing hidden in the middle of text.
		%hr/
		= Haml::Engine.new(File.read(File.dirname(__FILE__) + "/_footer.haml")).render
		%script{:src => "http://code.jquery.com/jquery-1.11.0.min.js"}
		%script{:src => "js/app.js"}